<!doctype html>
<html lang="en">
<head>
    {% block head %}
      <title>{% block title %}{% endblock %} - My Webpage</title>

      {% block navegation %}

      {% endblock %}
      {% if session.get('session_key') %}
        Kaixo {{session.get('name')}}
        <a href='{{url_for("logout")}}'>
          <button type="button" name="button">logout</button>
        </a>
      {% else %}
        <a href='{{url_for("login")}}'>
          <button type="button" name="button">login</button>
        </a>
        <a href='{{url_for("signup")}}'>
          <button type="button" name="button">Signup</button>
        </a>
      {% endif %}

    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">Gesalaga</a>.
        {% endblock %}
    </div>
</body>
</html>
