{% extends "base.html" %}
{% block title %}comprar coche{% endblock %}
{% block navegation %}
  <a href='{{url_for("listaMarcas",)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to home</button>
  </a>
  <a href='{{url_for("listaModelos", marca_url=miModelo.marca.name)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to modelos</button>
  </a>
{% endblock %}
{% block content %}
  <h1> Rellena el formulario para comprar</h1>
  <form action="" method="POST">
    {% if session.get('name') %}
    <h3>
      <label>propietario</label>
      <label>{{session.get('name')}}</label>
    </h3>
    {% else %}
      <h3>
        <label>propietario</label>
        <select class="" name="propietario" required>
          {% for tercero in misTerceros %}
            <option value={{tercero.id}}>{{tercero.rec_name}}</option>
          {% endfor %}
        </select>
      </h3>
    {% endif %}

    <h3>
      <label>marca</label>
      +{{ miModelo.marca.name }}</h3>
    <h3>
      <label>modelo</label>
      +{{ miModelo.rec_name }}
    </h3>


    <h3>
      <label>matricula</label>
      <input type="text" name="matricula" value="" required>
    </h3>
    <button type="submit" name="button">submit</button>
  </form>
{% endblock %}
