{% extends "base.html" %}
{% block title %}Hola de mis coches{% endblock %}

{% block content %}
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
{% endblock %}
