{% extends "base.html" %}
{% block title %}Lista de mis coches{% endblock %}
{% block content %}

  <h1> ESTAS SON TODOS SUS COCHES</h1>
    {% for miCoche in misCoches %}
      <h3>
        {{ miCoche.marca.name }}  ||  {{ miCoche.modelo.rec_name }}  ||  {{ miCoche.matricula }}  ||
      </h3>
    {% endfor %}

  <h1> ESTAS SON TODAS NUESTRAS MARCAS</h1>
  <a href='{{url_for("addMarca")}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">Registrar nueva marca</button>
  </a>
  {% for miMarca in misMarcas %}
    <a href='{{url_for("listaModelos", marca_url=miMarca.name)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
      <h3> {{ miMarca.name }}</h3>
    </a>
  {% endfor %}
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
