{% extends "base.html" %}
{% block title %}Lista de mis modelos{% endblock %}
{% block navegation %}
  <a href='{{url_for("listaMarcas",)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to home</button>
  </a>
{% endblock %}
{% block content %}
  <h1> estos son nuestros MODELOS de {{miMarca.name}}</h1>
  <a href='{{url_for("addModelo", marca=miMarca.id)}}'>
    <button type="button" name="button">registrar nuevo modelo</button>
  </a>
  {% for miModelo in misModelos %}
      <h3> +{{ miModelo.rec_name }}
        <a href='{{url_for("comprar", modelo=miModelo.id)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
          <button>comprar</button>  <!-- mis terceros no hay k enviar??? -->
          <h1> {{ miModelo.name }}</h1>
        </a>
      </h3>
  {% endfor %}
  <!--<h1> estos son nuestros coches</h1>
  {% for miCoche in misCoches %}
    <h3> +{{ miCoche.modelo.rec_name }} | {{ miCoche.propietario.name }} | {{ miCoche.matricula }} </h3>
  {% endfor %}-->
{% endblock %}
{% block footer %}
  <h1> ESTOS HAN SIDO TODOS NUESTROS MODELOS Y COCHES</h1>
  {{ super() }}
{% endblock %}
