{% extends "base.html" %}
{% block title %}registrar nuevo modelo{% endblock %}
{% block navegation %}
  <a href='{{url_for("listaMarcas",)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to home</button>
  </a>
  <a href='{{url_for("listaModelos", marca_url=miMarca.name)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to modelos</button>
  </a>
{% endblock %}
{% block content %}
  <h1> Rellena el formulario para comprar</h1>
  <form action="" method="POST">
    <h3>
      <label>marca:</label> {{miMarca.name}}
    </h3>
    <h3>
      <label>modelo</label>
      <input type="text" name="modelo" value="" required>
    </h3>
    <h3>
      <label>combustible</label>
      <select class="" name="combustible" required>
          {% for value,string_usu in misCombustibles %}
            <option value={{value}}>{{string_usu}}</option>
          {% endfor %}
      </select>
    </h3>
    <button type="submit" name="button">submit</button>
  </form>
{% endblock %}
