{% extends "base.html" %}
{% block title %}registrar nueva marca{% endblock %}
{% block navegation %}
  <a href='{{url_for("listaMarcas",)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to home</button>
  </a>
{% endblock %}
{% block content %}
  <h1> Rellena el formulario para comprar</h1>
  <form action="" method="POST">
    <h3>
      <label>marca</label>
      <input type="text" name="marca" value="" required>
    </h3>

    <button type="submit" name="button">submit</button>
  </form>
{% endblock %}
