{% extends "base.html" %}
{% block title %}registrar nuevo usuario{% endblock %}
{% block navegation %}
  <a href='{{url_for("listaMarcas",)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to home</button>
  </a>
  <a href='{{url_for("listaModelos", marca_url=miMarca)}}'>  <!--url_for( "nombre de la funcion", parametros de la funcion) -->
    <button type="button" name="button">back to modelos</button>
  </a>
{% endblock %}
{% block content %}
  <h1> Rellena el formulario </h1>
  <form action="" method="POST">
    <h3>
      <label>propietario:</label>
      <input type="text" name="name" value="" required>

      <!--<select class="" name="propietario" required>
        <option value=None>{{''}}</option>
        {% for tercero in misTerceros %}
          <option value={{tercero.id}}>{{tercero.rec_name}}</option>
        {% endfor %}
      </select>-->
    </h3>
    <h3>
      <label>email:</label>
      <input type="text" name="username" value="" required>
    </h3>
    <h3>
      <label>contraseña</label>
      <input type="text" name="password" value="" required>
    </h3>
    <button type="submit" name="button">submit</button>
  </form>
{% endblock %}
